.card-title {
  text-align: center;
  text-transform: uppercase;
  background: #faf8f8;
  padding: 5px;
  height: 25px;
  overflow: hidden;
}
.card-body button {
  font-size: 10px;
}
.movie-rating {
  margin-bottom: 0;
}

.card-img-top {
  height: 170px;
  background: #eee;
}

.like-icon svg:hover {
  cursor: pointer;
  color: #555;
}

.like-icon-active {
  color: red;
}

.delete-icon {
  margin: 0 auto;
}
.delete-icon svg:hover {
  cursor: pointer;
  color: #666;
}

.card-body {
  padding-bottom: 5px;
}
