body {
  font-family: "Oswald" !important;
  background: #eee;
}
.like-movie {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 12px;
  background: #111;
  color: #fff;
  border-radius: 5px;
}

.like-count {
  font-weight: bold;
  margin: 10px;
  background: #444;
  padding: 3px 10px;
  border-radius: 50%;
  color: #fff;
}
